/* components/uploadDocs.scss */
.requiredDocs {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.docContainer {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    width: 250px;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.3s;

    & > span {
        cursor: pointer;
    }
}

.docContainer h3 {
    margin: 10px 0;
    font-size: 16px;
}

.docContainer i {
    font-size: 24px;
    color: #ffffff;
    background-color: #703398;
   padding: 10px 15px;
   border-radius: 50%;
}

.docContainer h5 {
    margin: 10px 0;
}

.docContainer input[type="file"] {
    display: none;
}

.docContainer label {
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary), var(--color-primary));
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.docContainer .fileName {
    margin: 10px 0;
    font-style: italic;
}

.docContainer.dragover {
    background-color: rgb(72, 52, 133);
    border-color: rgb(77, 43, 77);
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 200px;
    transition: .5s all;

    & p {
        color: darkcyan;
    }

    & button {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 8px;
        background-color: #05A602;
        outline: none;
    }
}

.successUpload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 200px;

    & > :first-child {
        transform: scale(4);
        color: #05A602;
    }

    & button {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 8px;
        background-color: #05A602;
        outline: none;
        margin-top: 40px;
    }
}

.fileName {
    font-size: 12px;
    width: 100%;
    text-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden;
}