.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.correct {
    background-color: #d4edda;
    color: #155724;
}

.wrong {
    background-color: #f8d7da;
    color: #721c24;
}

.quize-top-meta {
    display: flex;
    justify-content: space-between;
}

.quize-top-left,
.quize-top-right {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .quize-top-meta {
        flex-direction: column;
        align-items: flex-start;
    }

    .quize-top-left,
    .quize-top-right {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
}