.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.correct {
    background-color: #d4edda;
    color: #155724;
}
  
.wrong {
    background-color: #f8d7da;
    color: #721c24;
}
  