.continue-watching {
    height: fit-content;

    @media (min-width:990px) and (max-width: 1400px)   {
        line-height: 20px;
        padding: 10px;
    }
}

.continue-watching.rbt-btn {
    padding: 0 !important;
}
