.TutorBgPhoto {
    background-image: url('https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?cs=srgb&dl=pexels-tirachard-kumtanom-112571-733856.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}