.continue-watching {
    width: fit-content;

    @media (min-width:991px) {
        font-size: 14px;
        line-height: 14px;
    }
}

.nav {
    flex-wrap: nowrap !important;
    padding: 0 10px !important;
}

@media (max-width: 768px) {
    .enrolled-courses_navTabs__AyU86 {
        justify-content: flex-start !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 15px !important;
    }
}

.rbt-btn {
    padding: 16px;
    @media (max-width: 600px) {
        padding: 0 16px;
    }
}
.navigation-tabs {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    justify-content: center; 

    &::-webkit-scrollbar {
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    & li {
        padding-left: 0px;
        min-width: fit-content;
        transform: scale(0.9);
        margin: 0 10px; /* Decreased gap between tabs */
    }
}

.tab-button.active li a::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    z-index: 100;
    left: 0;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transition: transform 0.3s;
}

.more-tabs-button {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #2f57ef;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 10px; 
    box-shadow: none;
    z-index: 1000;
    margin-top: 14px; /* Increased margin-top to move the button down a bit */
    transition: transform 0.3s;
    &.right {
        position: absolute;
        right: 0;
    }
}

.tabs-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    &.show-soft-skills .tab:not(.soft-skills) {
        display: none;
    }

    &.show-soft-skills .more-tabs-button {
        right: 0;
    }
}

.showMore {
    position: relative;
    right: 0; /* Adjust as necessary to align next to the Completed tab */
}
