.fixedSidebar {
    position: fixed;
    left: 0;
    width: inherit;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.innerScrollable {
    max-height: 100vh !important;
    overflow-y: auto !important; 
    overflow-x: hidden !important;
    width: 100% !important;
}