.innerScrollable {
    max-height: 100vh !important;
    overflow-y: auto !important; 
    overflow-x: hidden !important;
    width: 100% !important;
}

.lessonScrollSidebar {
    max-height: 100vh !important;
    overflow-y: auto !important;
    padding-right: 5px !important;
}

.nextVideo {
    color: #2784ff;
}