.documentList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.documentItem {
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: all 0.3s ease;
    position: relative;

    &:hover {
        background-color: #051C48;
        color: white;

        .iconWrapper svg {
            color: white;
        }

        .uploadButton svg {
            color: white;
        }
    }

    .iconWrapper {
        margin-bottom: 15px;

        svg {
            font-size: 24px;
            transition: color 0.3s ease;
            color: #C4C4C4;
        }
    }

    span {
        font-size: 14px;
        font-weight: 500;
    }

    .uploadButton {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        transition: color 0.3s ease;

        svg {
            font-size: 18px;
            color: #d3d3d3; // Light gray color
            transition: color 0.3s ease;
        }
    }
}