.downloadSection {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    p {
      
      margin-bottom: 15px;
      font-size: 18px;
    }
  
    .downloadButtons {
      display: flex;
      gap: 10px;
    }
  
    .downloadButton {
      background: linear-gradient(145deg, #ffffff, #f0f0f0);
      color: black;
      border: 1px solid #e0e0e0;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        border-color: #051C48;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      i {
        font-size: 1.2em;
      }
    }
  }