.paginationContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    text-align: center;
    padding: 0 240px;
  }
  
@media (max-width: 768px) {
    .paginationContainer {
      padding: 0 20px;
}
  
.rbtCardBottom {
      margin: 0 10px;
}
  
.rbtBtn {
      max-width: 150px;
    }
}

.advanceTabButton {
  margin-bottom: 30px;
}

.navTabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navTabs li {
  margin-right: 10px;
}

.tabButton {
  display: inline-block;
}

@media (max-width: 768px) {
  .navTabs {
    justify-content: center;
  }
}

.scrollableTabContent {
  max-height: 400px; /* Set the desired max height */
  overflow-y: auto; /* Enable vertical scrolling */
}