/* .root {
  --primary-color: #fe457a;
}

.navbar {
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.authLinks {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: auto !important;
}

.authLinks a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 5px;
}

.loginButton {
  color: var(--primary-color);
  font-weight: bold;
}

.userIcon {
  color: var(--primary-color);
  font-size: 24px;
  margin-right: 10px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--primary-color);
  margin-left: 10px;
} */

/* Add these styles to your login-nav.module.css */

/* Add these styles to your login-nav.module.css */

.navLink {
  color: #051c48; /* Default link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease, transform 0.3s ease; /* Add transition */
}

.navLink:hover {
  color: #ff7fa3; /* Light version of the activeLink color */
  transform: scale(1.05); /* Scale up on hover */
}

.activeLink {
  color: #fe457a; /* Active link color */
}

.username {
  color: #051c48;
}

/* Keep the existing styles for hamburgerMenu and authLinks */
.hamburgerMenu {
  margin-left: -25rem;
}

.authLinks {
  margin-right: -25rem;
}

.centeredLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
}

@media (max-width: 991px) {
  .centeredLogo {
    position: absolute;
    transform: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    justify-items: center;
    margin-left: -3rem;
  }

  .authLinks {
    visibility: hidden;
  }

  .hamburgerMenu {
    margin-left: 0;
  }
}
/* Adjust hamburger menu position on mobile */
@media (max-width: 991px) {
  .hamburgerMenu {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -25rem;
  }
}

/* Ensure container allows for absolute positioning */
.navContainer {
  position: relative;
}
