.documents-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 210px; // Add top margin to move content down
    // border: 1px solid red;
    max-width: 950px; // Decreased the width of the container
    margin-left: 0; // Changed from auto to 0 to move container to the left
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;

    .content-wrapper {
        max-width: 100%; // Changed from 1200px to 100% to fit the new container width
        margin: 0 auto;
    }

    .page-title {
        color: #FE457A;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;
    }

    p {
      margin-bottom: 15px;
      font-size: 18px;
    }

    a {
      color: #18A0FB;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h2 {
        color: #FE457A;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 19px;
    }
}