.error-area {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rbt-accordion-style .card + .card {
    margin-top: 0 !important;
}

.quiz {
    font-size: 14px;
    margin-top: 4px !important;
    display: flex;
    gap: 5px;
    align-items: center;
}


.rbt-lesson-content-wrapper {
    @media (max-width: 891px) {
        flex-direction: column-reverse !important;
    }
}