.error-area {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rbt-accordion-style .card + .card {
    margin-top: 0 !important;
}