.error-area {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.rbt-accordion-style .card + .card {
    margin-top: 0 !important;
}

.quiz {
    font-size: 14px;
    margin-top: 4px !important;
    display: flex;
    gap: 5px;
    align-items: center;
}


.rbt-lesson-content-wrapper {
    @media (max-width: 891px) {
        flex-direction: column-reverse !important;
    }
}

.rbt-lesson-content-wrapper {
    position: relative;
    background-color: white !important;
}

#sidebar-desktop {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 10%;
    width: 35%;

    
    @media (min-width: 600px) and (max-width: 895px) {
        display: none;
    }
}


#lesson-video {
    padding: 10px;
    position: fixed;
    right: 0;
    top: 10%;
    bottom: 0;
    width: 65%;
    overflow-y: scroll;

    @media (max-width: 895px) {
        width: 100%;
    }
}