

.rbt-btn {
    text-align: center !important;
}



.register-container {
    height: 100%;
    width: 100%;
    overflow: hidden !important; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    .left-container {
        width: 45%;
        height: 100vh;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;

        @media (max-width: 768px) {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            perspective: 1000px;
            transform: translateZ(100px);
            box-shadow: none;
        }
    }
}

.login-inner {
    background-color: #f0eeef;
    width: 55%;
    height: 100vh;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="text"]:focus {
       border: 1px solid #24345C;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 30px;
        background-color: transparent;
        filter: brightness(1);
        z-index: 1;
        color: #252525;

        

        & input[type="email"],
        & input[type="password"],
        & input[type="text"] {
            height: 50px !important;
            font-size: 14px;

            &::placeholder {
                font-size: 14px !important;
            }

            @media (max-width: 1280px) {
                color: #252525;
                border: 1px solid #252525;
            }
        }
    }

    @media (max-width: 1280px) {
        padding: 0 30px;
    }

}

.auth-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        gap: 10px;
        align-items: center;
    }

    & p {
        margin: 0;
    }

    & a {
        color: #2597ac;

        @media (max-width: 768px) {
            color: whitesmoke;
        }

        &:hover {
            color: #24345C;
            text-decoration: underline;
        }
    }
}

.form-switch input[type=checkbox]:checked {
    background-color: #24345C;
    border: none;
}



form {
    max-width: 400px;
}

input[type="email"].error,
input[type="password"].error,
input[type="text"].error {
    border: 1px solid tomato;
    animation: shake 0.5s 2;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}


.wrapper {
    margin-top: 100px;
}

.rbt-testimonial-box .inner {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    box-shadow: var(--shadow-7);
    backdrop-filter: blur(20px); /* Blurs the background behind the element */
    border-radius: 10px; /* Optional: adds rounded corners for a smoother look */
    color: #fff; /* Ensures text stands out on the glass background */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transformation */
    transform-style: preserve-3d; 

    &:hover {
        transform: perspective(1000px) rotateX(10deg) scale(0.95); /* Bends inwards on hover */
        box-shadow: var(--shadow-7), 0 10px 20px rgba(0, 0, 0, 0.3); 
    }
}

.rbt-testimonial-box .inner::before {
    top: 25px !important;
}

.rbt-testimonial-box .clint-info-wrapper .thumb {
    width: 40px !important;
}

.wrapper,
.cards-wrapper {
    

    @media (max-width: 768px) {
        display: none;
    }
}

.testimonies {
    @media (max-width: 768px) {
        background: hsla(186, 33%, 94%, 1);

        background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
        
        background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
        
        background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    }
}