.navAssignmentsContainer {
    display: flex !important;
    justify-content: center !important;
}
  
.navAssignments {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    max-width: 900px !important; 
}
  
.navItem {
    flex: 1 !important;
    text-align: center !important;
}
  
.navLink {
    display: block !important;
    padding: 10px 15px !important;
    border-radius: 0.25rem !important;
    text-decoration: none !important;
    color: #000 !important;
    transition: background-color 0.3s, color 0.3s !important;
    border-bottom: 2px solid transparent !important; 
}
  
.navLink:hover,
.navLink:focus {
    background-color: #f8f9fa !important;
}
  
.navLink.active {
    background-color: #007bff !important;
    color: #fff !important;
    border-bottom: 2px solid #007bff !important; 
}
  