.calendarWrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px transparent;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(36, 52, 92);
  }
  
  .header h2 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    color: white;
  }
  
  .header h2 span {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  .header button {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
  }
  
  .calendar {
    padding: 10px;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    padding: 10px 5px;
    border-radius: 5px;
  }
  
  .weekdays div {
    text-align: center;
    font-weight: bold;
    color: rgb(36, 52, 92);
    font-size: 14px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 0 5px;
  }
  
  .day, .emptyDay {
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .day {
    font-size: 14px;
    font-weight: bold;
    color: rgb(36, 52, 92);
  }
  
  .day .content {
    font-size: 12px;
    overflow: hidden;
    text-align: center;
  }
  
  .today {
    background-color: #fff;
  }
  
  .today span {
    color: #fff;
    background-color: rgb(36, 52, 92);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .day span.selected {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    /* Add any other styles you want for the selected day */
  }