.layoutContainer {
    display: flex;
    justify-content: center; /* Changed from space-between to center */
    align-items: center;
    height: 100dvh;
    overflow: hidden;
    background-color: white;
    perspective: 1000px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 34px;
    }

    & > p {
        font-weight: 400;
    }

    & .terms {
        margin-top: 10px;
        display: flex;
        gap: 8px;

        & a {
            text-decoration: underline;
            color: #2597ac;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 468px) {
        width: 90%;
    }

    &-inner {
        @media (max-width: 468px) {
            width: 90%;
        }
    }

    .remember-me {

        @media (max-width: 468px) {
            display: flex;
            flex-direction: column;
            gap: 11px;
        }

        & :nth-child(n) {
            display: flex;
            justify-content: flex-start;
        }
    }

    & h1 {
        font-size: 34px;
        width: 100%;
        text-wrap: nowrap;

        @media (max-width: 468px) {
        text-wrap: wrap;
        text-align: center;
        }
    }
   
    & > p {
        font-weight: 400;
        font-size: 16px;
    }

    & .auth-footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        & p {
            margin: 0;
        }

        & a {
            text-decoration: underline;
            color: #2597ac;
        }
    }

}

.verify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

    & h1 {
        font-size: 34px;
        width: 100%;
        text-align: center;
    }

    & > p {
        font-weight: 400;
        font-size: 16px;
        max-width: 70%;
        text-align: center;
    }   

    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & .otpContainer {
            display: flex;
            gap: 15px;

            & input {
                width: 50px;
                height: 50px;
                border: 1px solid gray;
                outline: none;
            }
        }


        & button {
            background-color: rgb(36, 52, 92);;
            height: 50px;
            width: 100%;
            border: none;
            border-radius: 4px;
            color: white;
            margin-top: 15px;
        }

        & .rememberme {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
        }

        & .account {
            flex-direction: row;
            gap: 5px;
            align-items: center;
            color: darkgray;

            & a {
                text-decoration: underline;
                color: blue;
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }
}

.errorMessage {
    position: relative;
    margin: 0 auto;
    width: 100%;
    transition: .5s;
    color: tomato;
    opacity: .8;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}
