.manageDocuments {
  flex: 0 0 55%;
  padding-left: 20px;
  padding-top: 40px; // Add top padding to move content down
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Align content to the top
  min-height: 300px; // Set a minimum height to prevent squashing
}

.title {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 700;
  color: #666666;
}

.documentItem {
  margin-bottom: 15px;
  position: relative;
}

.documentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.removeButton {
  position: absolute;
  top: -2px;
  right: 0;
  background: none;
  border: none;
  color: #dc3545;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  padding-right: 22%;
}

.progressBar {
  height: 6px;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  width: 60%;
  margin: 0;
}

.progressFill {
  height: 100%;
  background-color: #28a745;
  transition: width 0.3s ease;
}

.progressText {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #666;
  margin-top: -15px;
  padding-right: 20%; // Add some padding to the right
}

.emptyState {
  text-align: center;
  color: #666;
  margin-top: 20px; // Add some top margin to the empty state
}